
@import 'import/palette.scss';

$site-bg-color: $color-primary-2;

$direction-list: left, right, top, bottom;

body.site {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color-primary-0;
}

* {
  @each $dir in $direction-list{
    margin-#{$dir}: 0;
    padding-#{$dir}: 0;
  }
}

body.site img{
    max-width: 100%;
    max-height: 100%;
}

body.site > header{
    background-color: $color-primary-3;
    text-align: center;

    h1 {
      padding-top: 1em;
      padding-bottom: 1em;
      font-family: 'Barrio', cursive;
      font-size: 3em;
      color: $color-primary-4;
    }

}

body > footer{
    background-color: $color-primary-3
}

body > section.site_core_section  {
    background-color: $color-primary-0;
    background-image: url('../../img/background.svg');

    > div {
        background-color: $color-primary-2;
    }
}

.item__content {
    background-color: $color-primary-1;


}



.grid-block__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;

}

.grid-block__item{
   margin-top: 10px;
   margin-bottom: 10px;
}
.grid-block__item::after{

}


.grid-block__item a,
.grid-block__item a:hover,
.grid-block__item a:visited{
    text-decoration: none;
}

.grid-block__item .grid-block__item--hover{
    display: none;    
}

.grid-block__item:hover .grid-block__item--hover{
    height: 100%;
    display: block;
}

.grid-block__item .grid-block__item--default{
    height: 100%;
    display: block;
}

.grid-block__item:hover .grid-block__item--default{
    display: none;
}


.grid-block__item__image {
    height: 125px;
    overflow-y: hidden;
}


.grid-block__item__content {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.red {
    color: red;
}
.yellow {
    color: yellow;
}
.white{
    color: white;
}
.blue{
    color: blue;
}

@mixin col-spec($screen_var, $max_value) {
  .mq-col-#{$screen_var}-#{$max_value}{
    @for $i from 1 through $max_value {
      &-#{$i}{ width: 100.0% * $i / $max_value ; }
    }
   }
  .mq-offset-#{$screen_var}-#{$max_value}{
    @for $i from 1 through $max_value {
      &-#{$i}{ margin-left: 100.0% * $i / $max_value; }
    }
  }
}

@mixin mq-css($screen_var) {
  @include col-spec($screen_var, 24)

}

@media screen {
  @include mq-css(xs)
}

@media screen and (min-width: 576px) {
  @include mq-css(sm)
}

@media screen and (min-width: 768px) {
  @include mq-css(md)
}

@media screen and (min-width: 992px) {
  @include mq-css(lg)
}

@media screen and (min-width: 1200px) {
  @include mq-css(xl)
}


