{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block heading %}
  {% if page.background_image %}
    {% image page.background_image format-jpeg jpegquality-40 as bg_image %}
      <div class="grid-home__summary" style="background-image: url({{bg_image.url}})">
         {{ page.summary|richtext }}
      </div>
  {% else %}
      <div class="grid-home__summary">
         {{ page.summary|richtext }}
      </div>
  {% endif %}
{% endblock %}

{% block content %}
    <section class="grid-block__container">
        {% for block in page.body %}
             {% include_block block %}
        {% endfor %}
    </section>
{% endblock content %}
