
.record-button {
    background: darkred;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    display: block;
}

.record-button-active {
    composes: record-button;
    animation: blinking-button 1s infinite;
}

.record-button-logo {
    margin-bottom: 0px;
    margin-right: 1em;
    vertical-align: middle;
}

.record-button-logo-active {
    composes: record-button-logo;
    animation: blinking 1s infinite;
}


/* Specifies the animation and transparency for the blinking text */
@keyframes blinking-button {

    0% {
        color: white;
    }
    50% {
        color: grey;
    }
    100% {
        color: white;
    }
}

@keyframes blinking {

    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.container {
    margin-top: 2em;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    border: 1px grey solid;
}

.empty-list-message{
    padding: 1em;
}
.error-messages{
    color: red;
    list-style-type: none;
}

.audio-item-container{
    margin-top: 1em;
    margin-bottom: 1em;
}

.recording-audio-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recording-audio {
    margin: 0.25em;
}

.gain-input-container {
    display: flex;
    justify-content: space-evenly;
}

.gain-input {
    display: flex;
    justify-items: center;
}

.delete-button {
    background: transparent;
    border: 0;
}
