
.record-button {
    background: darkred;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    display: block;
}

.container {
    margin-top: 2em;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:  minmax(15em, 1fr) minmax(3em, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 1%;
}



.recording-audio {
    margin: 0.25em;
}

.gain-range-input {
    grid-column: 1 / span 2;
}

.delete-button {
    background: transparent;
    border: 0;
}

.reverb-audio {
    display: block;
    margin-top: 1em;
    border:  0.25em solid red;
}
