.container h1 {
    margin-bottom: 0;
}

.container h1 p {
    display: block;
}

.container math {
    color: rgb(144, 120, 96);
}

.container a {
    color: currentColor;
    text-decoration: underline dotted 1px;
}

.container :global(.katex) {
    color: rgb(144, 120, 96);
}

.container :global(.miniapp-img) {
    width: 2em;
    float: left;
    margin-top: 0.3em;
    margin-right: 0.75em;
    margin-bottom: 0.5em;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    color: currentColor;
}