.container h1{
    margin-bottom: 0;
}

.container h1 p{
    display: block;
}

.container math{
    color: darkcyan;
}

.container :global(.katex){
    color: darkcyan;
}

.container :global(.miniapp-img){
    width: 2em;
    float: left;
    margin-top: 0.3em;
    margin-right: 0.75em;
    margin-bottom: 0.5em;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}