.container {
    width: 100%;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.container li {
    margin-bottom: 5px;
}


.container li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}


.container .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.container .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.container .menu-icon {
    cursor: pointer;
    float: right;
    padding: 24px 20px;
    position: relative;
    user-select: none;
}

.container .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.container .menu-icon .navicon:before, .container .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.container .menu-icon .navicon:before {
    top: 5px;
}

.container .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.container .menu-btn {
    display: none;
}

.container .menu-btn:checked~.menu {
    max-height: 300px;
}

.container .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.container .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.container .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.container .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .container .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .container li {
        display: inline-block;
    }
    .container li a {
        padding: 10px 30px;
    }
    .container .menu {
        display: flex;
        justify-content: flex-end;
        clear: none;
        max-height: none;
    }
    .container .menu-icon {
        display: none;
    }
}