.introduction{
    padding: 1em;
}

.outer {
    width: 100%;
}

.activate-button {
    background-color: darkcyan;
    color: white;
    border-radius: 3em;
    padding: 0.5em;
    width: 6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.display-area + .activate-button {
    margin-top: 1em;

}

.display-area {
    padding: 1em;
    border-color: darkcyan;
    border-width: 1px;
    border-style: solid;
    color: darkcyan;
    height: 15em;
    overflow-y: hidden;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.display-area-inactive {
    composes: display-area;
    background-color: lightgrey;
}

.invite-message {
    padding: 1.5em;
}

.note {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.note-name {
    padding: 0.25em;
    font-size: 1.5em;
}

.note-residue {
    padding: 0.05em;
    font-size: 0.75em;
}

.note-debug {
    font-size: 0.5em;
}