
body {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-block__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-block__item{
    height: 100px;
}


.grid-block__item a,
.grid-block__item a:hover,
.grid-block__item a:visited{
    text-decoration: none;
}

.grid-block__item .grid-block__item--hover{
    display: none;    
}

.grid-block__item:hover .grid-block__item--hover{
    height: 100%;
    display: block;
}

.grid-block__item .grid-block__item--default{
    height: 100%;
    display: block;
}

.grid-block__item:hover .grid-block__item--default{
    display: none;
}

.grid-block__item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}
.yellow {
    color: yellow;
}
.white{
    color: white;
}
.blue{
    color: blue;
}

@media screen {
    .col-xs-8-1 { width: 100%; }
    .col-xs-8-2 { width: 100%; }
    .col-xs-8-3 { width: 100%; }
    .col-xs-8-4 { width: 100%; }
    .col-xs-8-5 { width: 100%; }
    .col-xs-8-6 { width: 100%; }
    .col-xs-8-7 { width: 100%; }
    .col-xs-8-8 { width: 100%; }

    .col-sm-8-1 { width: 100%; }
    .col-sm-8-2 { width: 100%; }
    .col-sm-8-3 { width: 100%; }
    .col-sm-8-4 { width: 100%; }
    .col-sm-8-5 { width: 100%; }
    .col-sm-8-6 { width: 100%; }
    .col-sm-8-7 { width: 100%; }
    .col-sm-8-8 { width: 100%; }

    .col-md-8-1 { width: 100%; }
    .col-md-8-2 { width: 100%; }
    .col-md-8-3 { width: 100%; }
    .col-md-8-4 { width: 100%; }
    .col-md-8-5 { width: 100%; }
    .col-md-8-6 { width: 100%; }
    .col-md-8-7 { width: 100%; }
    .col-md-8-8 { width: 100%; }

    .col-lg-8-1 { width: 100%; }
    .col-lg-8-2 { width: 100%; }
    .col-lg-8-3 { width: 100%; }
    .col-lg-8-4 { width: 100%; }
    .col-lg-8-5 { width: 100%; }
    .col-lg-8-6 { width: 100%; }
    .col-lg-8-7 { width: 100%; }
    .col-lg-8-8 { width: 100%; }

    .col-xl-8-1 { width: 100%; }
    .col-xl-8-2 { width: 100%; }
    .col-xl-8-3 { width: 100%; }
    .col-xl-8-4 { width: 100%; }
    .col-xl-8-5 { width: 100%; }
    .col-xl-8-6 { width: 100%; }
    .col-xl-8-7 { width: 100%; }
    .col-xl-8-8 { width: 100%; }
}

@media screen {
    .col-xs-8-1 { width: 12.5%; }
    .col-xs-8-2 { width: 25%; }
    .col-xs-8-3 { width: 37.5%; }
    .col-xs-8-4 { width: 50%; }
    .col-xs-8-5 { width: 62.5%; }
    .col-xs-8-6 { width: 75%; }
    .col-xs-8-7 { width: 87.5%; }
    .col-xs-8-8 { width: 100%; }
    .offset-xs-8-1 { margin-left: 12.5%; }
    .offset-xs-8-2 { margin-left: 25%; }
    .offset-xs-8-3 { margin-left: 37.5%; }
    .offset-xs-8-4 { margin-left: 50%; }
    .offset-xs-8-5 { margin-left: 62.5%; }
    .offset-xs-8-6 { margin-left: 75%; }
    .offset-xs-8-7 { margin-left: 87.5%; }
    .offset-xs-8-8 { margin-left: 100%; }
}
@media screen and (min-width: 576px) {
    .col-sm-8-1 { width: 12.5%; }
    .col-sm-8-2 { width: 25%; }
    .col-sm-8-3 { width: 37.5%; }
    .col-sm-8-4 { width: 50%; }
    .col-sm-8-5 { width: 62.5%; }
    .col-sm-8-6 { width: 75%; }
    .col-sm-8-7 { width: 87.5%; }
    .col-sm-8-8 { width: 100%; }
    .offset-sm-8-1 { margin-left: 12.5%; }
    .offset-sm-8-2 { margin-left: 25%; }
    .offset-sm-8-3 { margin-left: 37.5%; }
    .offset-sm-8-4 { margin-left: 50%; }
    .offset-sm-8-5 { margin-left: 62.5%; }
    .offset-sm-8-6 { margin-left: 75%; }
    .offset-sm-8-7 { margin-left: 87.5%; }
    .offset-sm-8-8 { margin-left: 100%; }
}
@media screen and (min-width: 768px) {
    .col-md-8-1 { width: 12.5%; }
    .col-md-8-2 { width: 25%; }
    .col-md-8-3 { width: 37.5%; }
    .col-md-8-4 { width: 50%; }
    .col-md-8-5 { width: 62.5%; }
    .col-md-8-6 { width: 75%; }
    .col-md-8-7 { width: 87.5%; }
    .col-md-8-8 { width: 100%; }
    .offset-md-8-1 { margin-left: 12.5%; }
    .offset-md-8-2 { margin-left: 25%; }
    .offset-md-8-3 { margin-left: 37.5%; }
    .offset-md-8-4 { margin-left: 50%; }
    .offset-md-8-5 { margin-left: 62.5%; }
    .offset-md-8-6 { margin-left: 75%; }
    .offset-md-8-7 { margin-left: 87.5%; }
    .offset-md-8-8 { margin-left: 100%; }
}  
@media screen and (min-width: 992px) {
    .col-lg-8-1 { width: 12.5%; }
    .col-lg-8-2 { width: 25%; }
    .col-lg-8-3 { width: 37.5%; }
    .col-lg-8-4 { width: 50%; }
    .col-lg-8-5 { width: 62.5%; }
    .col-lg-8-6 { width: 75%; }
    .col-lg-8-7 { width: 87.5%; }
    .col-lg-8-8 { width: 100%; }
    .offset-lg-8-1 { margin-left: 12.5%; }
    .offset-lg-8-2 { margin-left: 25%; }
    .offset-lg-8-3 { margin-left: 37.5%; }
    .offset-lg-8-4 { margin-left: 50%; }
    .offset-lg-8-5 { margin-left: 62.5%; }
    .offset-lg-8-6 { margin-left: 75%; }
    .offset-lg-8-7 { margin-left: 87.5%; }
    .offset-lg-8-8 { margin-left: 100%; }
}   
@media screen and (min-width: 1200px) {
    .col-xl-8-1 { width: 12.5%; }
    .col-xl-8-2 { width: 25%; }
    .col-xl-8-3 { width: 37.5%; }
    .col-xl-8-4 { width: 50%; }
    .col-xl-8-5 { width: 62.5%; }
    .col-xl-8-6 { width: 75%; }
    .col-xl-8-7 { width: 87.5%; }
    .col-xl-8-8 { width: 100%; }
    .offset-xl-8-1 { margin-left: 12.5%; }
    .offset-xl-8-2 { margin-left: 25%; }
    .offset-xl-8-3 { margin-left: 37.5%; }
    .offset-xl-8-4 { margin-left: 50%; }
    .offset-xl-8-5 { margin-left: 62.5%; }
    .offset-xl-8-6 { margin-left: 75%; }
    .offset-xl-8-7 { margin-left: 87.5%; }
    .offset-xl-8-8 { margin-left: 100%; }
}









